<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.mari.shop.mapper.AttachMapper">

	<resultMap type="com.mari.shop.domain.Attach" id="attachMap">
		<id column="UUID" property="uuid"/>
		<result column="IMGNAME" property="imgName"/>
		<result column="UPLOADPATH" property="uploadPath"/>
		<result column="PRODUCT_ID" property="productId"/>
	</resultMap>
	
	<insert id ="insert" parameterType ="com.mari.shop.domain.Attach">
	<selectKey keyProperty="productId" resultType="long" order="BEFORE">
    select PRODUCT_SEQ.NEXTVAL from dual
	</selectKey>
	  <foreach item="attach" collection="attaches" separator=" ">
  	insert into TBL_ATTACH (UUID, IMGNAME, UPLOADPATH, PRODUCT_ID) values
    (#{attach.uuid}, #{attach.imgName}, #{attach.uploadPath}, #{productId})
  </foreach>
	</insert>
</mapper>