<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.mari.shop.mapper.OrderItemMapper"> 
	
	 <resultMap type="com.mari.shop.domain.OrderItem" id="orderItemMap">
	 	<id column="ORDER_ITEM_ID" property="orderItemId"/>
		<result column="COUNT" property="count"/>
		<result column="TOTAL_PRICE" property="totalPrice"/>
		<result column="PRODUCT_ID" property="productId"/>
		<result column="USER_ID" property="userId"/>
		<result column="ORDER_ID" property="orderId"/>
	 </resultMap>
	 
 	<resultMap type="com.mari.shop.domain.Product" id="productMap">
		<id column="PRODUCT_ID" property="productId"/>
		<result column="DETAIL" property="detail"/>
		<result column="IMG" property="img"/>
		<result column="PRICE" property="price"/>
		<result column="PRODUCT_NAME" property="productName"/>
		<result column="STOCK" property="stock"/>
		<result column="CATEGORY_ID" property="categoryId"/>
	</resultMap>
	<resultMap type="com.mari.shop.domain.User" id="userMap">
		<id column="USER_ID" property="userId"/>
		<result column="ADDRESS1" property="address1"/>
		<result column="ADDRESS2" property="address2"/>
		<result column="EMAIL" property="email"/>
		<result column="PASSWORD" property="password"/>
		<result column="PHONE" property="phone"/>
		<result column="USERNAME" property="username"/>
		<result column="ROLE" property="role"/>
	</resultMap>
	<resultMap type="com.mari.shop.domain.Category" id="categoryMap">
		<id column="CATEGORY_ID" property="categoryId"/>
		<result column="CATEGORY_NAME" property="categoryName"/>
	</resultMap>
	
	<resultMap type="com.mari.shop.model.OrderItemJoinVO" id="itemJoinMap">
     <collection property="orderItem" resultMap="orderItemMap" ></collection>
     <collection property="product" resultMap="productMap" ></collection>
     <collection property="user" resultMap="userMap" ></collection>
     <collection property="category" resultMap="categoryMap" ></collection>
    </resultMap>
    
 <insert id ="insert" parameterType ="com.mari.shop.domain.OrderItem">
  insert into TBL_ORDERITEM(ORDER_ITEM_ID,COUNT,TOTAL_PRICE,PRODUCT_ID,USER_ID ) 
  					values(ORDER_ITEM_SEQ.NEXTVAL,#{count},#{totalPrice},#{productId},#{userId})
 </insert>
 <select id ="selectWithProduct" resultMap="itemJoinMap" parameterType ="long">
 SELECT * FROM TBL_ORDERITEM O 
LEFT OUTER JOIN TBL_USER U ON O.USER_ID = U.USER_ID 
,(SELECT * FROM TBL_PRODUCT P LEFT OUTER JOIN TBL_CATEGORY C ON P.CATEGORY_ID = C.CATEGORY_ID)SUB
WHERE O.PRODUCT_ID = SUB.PRODUCT_ID AND O.USER_ID = #{userId}
 </select>
 
 <delete id ="delete" parameterType ="long">
 delete from TBL_ORDERITEM where ORDER_ITEM_ID = #{orderItemId}
 </delete>
 <update id ="update" parameterType ="com.mari.shop.domain.OrderItem">
 update TBL_ORDERITEM set
 		COUNT = #{count},
 		TOTAL_PRICE = #{totalPrice},
 		PRODUCT_ID = #{productId}
 		where 
 		ORDER_ITEM_ID = #{orderItemId} and USER_ID = #{userId}
 </update>
  
</mapper>