<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.mari.shop.mapper.ProductMapper">

	<resultMap type="com.mari.shop.domain.Product" id="productMap">
		<id column="PRODUCT_ID" property="productId"/>
		<result column="DETAIL" property="detail"/>
		<result column="IMG" property="img"/>
		<result column="PRICE" property="price"/>
		<result column="PRODUCT_NAME" property="productName"/>
		<result column="STOCK" property="stock"/>
		<result column="CATEGORY_ID" property="categoryId"/>
	</resultMap>

<select id="selectAll" resultMap="productMap">
    select * from TBL_PRODUCT
</select>

<select id="selectByCategoryId" resultMap="productMap" parameterType="long">
	select * from TBL_PRODUCT WHERE CATEGORY_ID = #{categoryId}
</select>

<select id="selectByProductId" resultMap="productMap" parameterType="long">
	select * from TBL_PRODUCT WHERE PRODUCT_ID = #{productId}
</select>
</mapper>