<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.mari.shop.mapper.ProductMapper">

	<resultMap type="com.mari.shop.domain.Product" id="productMap">
		<id column="PRODUCT_ID" property="productId"/>
		<result column="DETAIL" property="detail"/>
		<result column="IMG" property="img"/>
		<result column="PRICE" property="price"/>
		<result column="PRODUCT_NAME" property="productName"/>
		<result column="STOCK" property="stock"/>
		<result column="CATEGORY_ID" property="categoryId"/>
	</resultMap>

<select id="selectAll" resultMap="productMap">
    select * from TBL_PRODUCT ORDER BY PRODUCT_ID ASC
</select>

<select id="selectByCategoryId" resultMap="productMap" parameterType="long">
	select * from TBL_PRODUCT WHERE CATEGORY_ID = #{categoryId}
</select>

<select id="selectByProductId" resultMap="productMap" parameterType="long">
	select * from TBL_PRODUCT WHERE PRODUCT_ID = #{productId}
</select>

<delete id="delete" parameterType ="long">
 	delete FROM TBL_PRODUCT WHERE PRODUCT_ID = #{productId}
</delete>

<insert id="insert" parameterType ="com.mari.shop.model.NewProductModel">
	insert into TBL_PRODUCT(PRODUCT_ID,DETAIL,IMG,PRICE,PRODUCT_NAME,STOCK,CATEGORY_ID) 
		values (
		PRODUCT_SEQ.NEXTVAL,
		#{detail},
		#{img},
		#{price},
		#{productName},
		#{stock},
		#{categoryId}
		)
</insert>
<update id="update" parameterType="com.mari.shop.domain.Product">
	update TBL_PRODUCT set
		DETAIL = #{detail},
		IMG = #{img},
		PRICE = #{price},
		PRODUCT_NAME = #{productName},
		STOCK = #{stock},
		CATEGORY_ID = #{categoryId}
		WHERE PRODUCT_ID =#{productId}
</update>

<select id="selectWithPage" parameterType="com.mari.shop.model.PageObject" resultMap="productMap" >
	<![CDATA[SELECT * FROM 
	 (select T.*,
	 ROWNUM RN from tbl_product T 
	 
	 
	 ORDER BY PRODUCT_ID DESC) 
	 WHERE 
	 RN<= #{currPage}*#{criCnt} AND RN > (#{currPage}-1)*#{criCnt}
	  ]]>
</select>
<select id="countAll" resultType = "int" parameterType ="com.mari.shop.model.Criteria">
	select count(PRODUCT_ID) from TBL_PRODUCT 
	<where>
	<if test = "categoryId != null">
	CATEGORY_ID = #{categoryId}
	</if>
	</where>
</select>


<select id ="selectByCategoryIdWithPage" resultMap="productMap" parameterType ="com.mari.shop.model.PageObject">
<![CDATA[
	SELECT * FROM (select T.*,ROWNUM RN from tbl_product T 
	]]>
	<where>
	<if test = "cri.categoryId != null">
	CATEGORY_ID = #{cri.categoryId}
	</if>
	</where>
	<![CDATA[
	ORDER BY PRODUCT_ID DESC) 
	WHERE
    RN<= #{currPage}*#{criCnt} AND RN > (#{currPage}-1)*#{criCnt}
      ]]>
</select>


</mapper>