<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.mari.shop.mapper.UserMapper">

<select id="count" resultType="int">
    select count(*) from TBL_USER
</select>

<select id="selectAll" resultType="com.mari.shop.domain.User">
    select user_id as "userId",
    		U.* from TBL_USER U
</select>

<delete id="delete">
	delete TBL_USER where USER_ID = #{userId}
</delete>
<insert id="insert" parameterType="com.mari.shop.model.RegisterModel">
<selectKey >
</selectKey>
	insert into TBL_USER(USER_ID,ADDRESS1,ADDRESS2,EMAIL,PASSWORD,PHONE,ROLE,USERNAME) 
	VALUES(
		HIBERNATE_SEQUENCE.NEXTVAL,
		#{address1},
		#{address2},
		#{email},
		#{password},
		#{phone},
		'USER',
		#{username}
	)
</insert>

<select id="selectByUsernameAndPassword" resultType="com.mari.shop.domain.User" parameterType="string">
	select U.*,user_id as "userId" from TBL_USER U WHERE USERNAME = #{username} and PASSWORD = #{password}
</select>
<select id="selectByUsername" resultType="com.mari.shop.domain.User" parameterType="string">
	select U.*,user_id as "userId" from TBL_USER U WHERE USERNAME = #{username}
</select>
</mapper>